.gitignore                  export-ignore
.gitattributes              export-ignore
Headers/*                   export-ignore
Doc/*                       export-ignore
Alg/acou_model.*            export-ignore
Alg/feature_params.*        export-ignore
Alg/feature_tools.*         export-ignore
Alg/global.*                export-ignore
Alg/HCLG.fst.*              export-ignore
Alg/kws_decoder.*           export-ignore
Alg/kws_decoder_common.*    export-ignore
Alg/kws_decoder_V1.*        export-ignore
Alg/kws_manager.*           export-ignore
Alg/lang_mdl_def.*          export-ignore
Alg/nnet.*                  export-ignore
Alg/utilities.*             export-ignore
Alg/witin_arm_lib.*         export-ignore
Alg/include                 export-ignore
NNLib/BB04P_lib.emProject   export-ignore
NNLib/fileloader.h          export-ignore
NNLib/framework.c           export-ignore
NNLib/isense_iic.*          export-ignore
NNLib/net_softrun.h         export-ignore
NNLib/Rec_001.h             export-ignore
NNLib/reg_auto.h            export-ignore
NNLib/wnpu_config.c         export-ignore
NNLib/wnpu_device.h         export-ignore
NNLib/wtn_npu.*             export-ignore
